.tooltip {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    width: 320px;
    border-radius: 5px;
    box-shadow: 0px 10px 25px 0px rgba(68, 68, 68, 0.20);
    height: 60px;
    animation: 0.25s ease-in slidein;

}
.success {
  border-left: 5px solid #249F5D;
}
.fail {
  border-left: 5px solid #FC5A5A;
}
.warning {
  border-left: 5px solid #FCCA00;
}

@keyframes slidein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.isTooltipHiding {
    animation: 0.25s ease-in hiding;
    animation-fill-mode: forwards;
}

@keyframes hiding {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


.tooltip__message {
    overflow: hidden;
}

.tooltip button {
    border: none;
    background: none;
    display: flex;
    flex-direction: column;
}

.tooltip button svg {
    margin-top: -20px;
}

