.dashboard {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: DM Sans, sans-serif;
  font-size: 14px;
  font-style: normal;
  color: #101D2D;
  line-height: 100%; /* 14px */
  letter-spacing: -0.28px;
  margin: 60px 50px 0 50px;
}


.profile {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;

}

.profile__avatar {
  width: 65px;
  height: 65px;
  border-radius: 68px;
}

.profile span{
  color: #101D2D;
  font-weight: 700;
}

.profile__info {
  display: flex;
  flex-direction: column;
  gap: 6px;
}


.dashboard__message {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.dashboard__message p {
  color: #101D2D;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.dashboard__message input {
  width: 30vw;
  max-width: 500px;
  border-radius: 5px;
  border: 1px solid  #E0E2E7;
  background: #FFF;
  padding: 10px;
}

.dashboard__buttons {
  display: flex;
  gap: 32px;
}


